<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:jdbc="http://www.springframework.org/schema/jdbc"
             xmlns:p="http://www.springframework.org/schema/p"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                  http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
        p:entityManagerFactory-ref="entityManagerFactory"/>

  <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
        p:dataSource-ref="dataSource"
        p:packagesToScan="com.springapp.notes.entities"
        p:jpaVendorAdapter-ref="vendorAdapter"/>
  <bean id="vendorAdapter"
        class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
        p:showSql="false"
        p:databasePlatform="org.hibernate.dialect.H2Dialect"
        p:generateDdl="false"/>

  <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource"
          p:driverClass="org.h2.Driver" p:url="jdbc:h2:~/test1;AUTO_SERVER=TRUE;DB_CLOSE_ON_EXIT=FALSE"
          p:username="sa" p:password=""/>

  <jdbc:initialize-database data-source="dataSource" ignore-failures="ALL">
      <jdbc:script location="classpath:createSchema.sql"/>
      <jdbc:script location="classpath:fillTestData.sql"/>
  </jdbc:initialize-database>


</beans:beans>
